body{
  margin: 0;
  padding: 0%;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;}
  .card {

    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: #e3e3e3;
  }
  
  
  
  
.input-container{
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 10px 10px;
}
.cityInput{
  flex:1;
  border:0 7px;
  font-size: 16px;
  outline: none;
  padding: 10px 10px;
  border-radius: 10px;
}
.search-icon{
  padding: 10px;
  height: 30px;
  cursor: pointer;
  padding-right: 15px;

}
.search:hover{
  cursor: pointer;
}
.search-icon img{
  margin-top: 0px;
}

.image{
  text-align: center;
  height: 150px;
  margin-bottom: 20px;
}

.image img{
  width: 160px;
  height: 160px;
}

.temp, .location, .country{
  margin-top: 5px;
  font-size: 35px;
  color: black;
  text-transform: uppercase;
  text-align: center;
}
.temp{
  font-weight: 500;
}
.location{
  color: #ffbc00;
  font-weight: 400;
  font-size:40px
}
.country{
  font-size: 18px;
  color: #888;
  font-weight: 500;
}
.cord{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  text-align: center;

}

.cord div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cord div span{
  font-size: 14px;
  color: #000000;
}
.cord div span:nth-child(2),.humidity-percent,.windspeed{
  font-size: 18px;
  font-weight: bold;
  color: #666;
  padding-top:5px ;
}

.data-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.element{
  text-align: center;
}
.icon{
  height: 50px;
  width: 50px;
}

.text{
  font-size: 15px;
  color:black;
}

.citynotfound,.loading-message,.error-message{
  text-align: center;

}